body {
    background-color:#20232A;
}

a {
    text-decoration: none; 
    color: inherit; 
}

.menu-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #F4F4EF;
}
.menu-header {
    font-weight: bold;
    color: #888;
    font-size: 20px;
    margin-bottom: 10px;
}
.username {
    font-weight: bold;
    margin-bottom: 20px;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    
    color: #000;
}
.menu-item-bottom {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    color: #000;
    position: absolute;
    bottom: 0;
    width: 100%; 
}
.menu-item-icon {
    font-size: 24px;
    margin-right: 10px;
}
.menu-item-text {
    flex-grow: 1;
}
.menu-item-action {
    font-size: 16px;
    color: #888;
}

hr.divider-rounded {
    border-top: 2px solid #bbb;
  }