{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/libro-abierto.png' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Menu -->
            <div class="col-12 col-md-3 bd-sidebar" style="padding-top: 10px;">
                <button class="btn btn-light d-md-none p-3 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#menuSidebar" aria-expanded="false" aria-controls="menuSidebar">
                    <span class="menu-item-icon"><img src="{% static 'img/align-left.png' %}" alt="Icon Cuentas"></span>
                    Menu
                </button>
                <div id="menuSidebar" class="collapse d-md-block">
                    <div class="menu-container flex-grow-1">
                        <a href="{% url "dashboard" %}">
                            <div class="menu-header">AccountingBook</div>
                            <div class="username">{{user}}</div>
                        </a>
                        <a href="#" class="menu-item a-text-navbar text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/align-left.png' %}" alt="Icon Cuentas"></span>
                            <div class="menu-item-text ms-2">
                                <div>Catalogo</div>
                            </div>
                        </a>
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/book-open.png' %}" alt="Icon Libro Diario"></span>
                            <div class="menu-item-text ms-2">
                                <div>Libro diario</div>
                            </div>
                        </a>
                        <hr class="divider-rounded">
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/book.png' %}" alt="Icon Libro Mayor"></span>
                            <div class="menu-item-text ms-2">
                                <div>Libro mayor</div>
                            </div>
                        </a>
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/check-square.png' %}" alt="Icon Balance de comprobación"></span>
                            <div class="menu-item-text ms-2">
                                <div>Balance de comprobación</div>
                            </div>
                        </a>
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/clipboard.png' %}" alt="Icon Estado de Resultado"></span>
                            <div class="menu-item-text ms-2">
                                <div>Estado de resultado</div>
                            </div>
                        </a>
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/archive.png' %}" alt="Icon Balance general"></span>
                            <div class="menu-item-text ms-2">
                                <div>Balance general</div>
                            </div>
                        </a>
                        <a href="#" class="menu-item text-decoration-none d-flex align-items-center menu-item-close">
                            <span class="menu-item-icon"><img src="{% static 'img/alert-circle.png' %}" alt="Icon Cierre del Ejercicio"></span>
                            <div class="menu-item-text ms-2">
                                <div>Cierre del ciclo</div>
                            </div>
                        </a>
                        <hr class="divider-rounded">
                        <a href="{% url 'empleados' %}" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/users.png' %}" alt="Icon Balance general"></span>
                            <div class="menu-item-text ms-2">
                                <div>Empresa</div>
                            </div>
                        </a>
                        
                        <a href="{% url 'logout' %}" class="menu-item text-decoration-none d-flex align-items-center">
                            <span class="menu-item-icon"><img src="{% static 'img/logout.png' %}" alt="Icon Balance general"></span>
                            <div class="menu-item-text ms-2">
                                <div>Cerrar Sesión</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>