{% extends "base.html" %}
{% block content %}
    <form>{% csrf_token %}</form>
    <div class="card m-3">
        <div class="card-header">
            <h3>Saldos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>Acreedor</h4>
                    <p>$1,000</p>
                </div>
                <div class="col text-end">
                    <h4>Deudor</h4>
                    <p>$1,000</p>
                </div>
            </div>                 
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            <h3>Gastos</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>Ventas</h4>
                    <p>$1,000</p>
                </div>
                <div class="col text-center">
                    <h4>Administrativo</h4>
                    <p>$1,000</p>
                    
                </div>
                <div class="col text-end">
                    <h4>Financieros</h4>
                    <p>$1,000</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            <h3>IVA</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>Credito</h4>
                    <p>$1,000</p>
                </div>
                <div class="col text-end">
                    <h4>Credito</h4>
                    <p>$1,000</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}